<div class="d-grid gap-2">
  <%= link_to t('index.my_account'), edit_user_registration_path, class: "btn btn-secondary" %>
  <%= link_to t('index.create_room'), new_event_path, class: "btn btn-primary" %>
</div>
