<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Room ID</th>
      <th scope="col">Date</th>
      <th scope="col">Host</th>
    </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td>
        <% if user_signed_in? %>
        <%= link_to event.room_id, event %>
        <% else %>
        <%= event.room_id %>
        <% end %>
      </td>
      <td>
        <i><%= event.event_date %></i>
      </td>
      <td>
        <strong><i><%= @users.find_by(id: event.owner).name %></i></strong>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>
