<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" colspan="2" class="text-center">Participants</th>
      <th scope="col" colspan="5">Dishes</th>
    </tr>
  </thead>
  <tbody>
    <% Participation.where(event_id: @event.id).each do |participation| %>
      <% user = User.find_by(id: participation.user_id) %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <% if user.id == @event.owner_id %>
            Host
          <% else %>
            Guest
          <% end %>
        </td>
        <td  colspan="5">
          <% Dish.where(event_id: @event.id, user_id: user.id).each do |dish| %>
            <p><%= link_to dish.name, dish_path(dish) %></p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
