<div id="<%= dom_id event %>">
  <div class="row text-center">
    <h2><%= event.title %></h2>
    <p>
      <strong><%= t('event.show.date') %></strong>
      <%= event.event_date %>
    </p>
  </div>

</div>
