<div class="container mt-4">

  <div class="row text-center">
    <h1>Create New Event</h1>
  </div>

  <%= render "form", event: @event %>

  <div class="row mx-0">
    <div class="col-3 p-0">
      <%= button_to "Back", root_path, method: :get, class: "btn-sm w-100" %>
    </div>
  </div>
</div>
