<div class="container mt-4">
  <div class="container mt-4">

  <h1><%= t('dish.edit.title') %></h1>

  <%= render "form", dish: @dish %>

  <br>

  <div class="row">
    <div class="col-3 p-0">
      <%= button_to t('common.cancel_btn'), dish_path, method: :get, class: "btn-sm w-100" %>
    </div>
  </div>
</div>
</div>
