<% if flash %>
  <%= render 'layouts/alerts' %>
<% end %>

<h1>Dishes</h1>

<div id="dishes">
  <table class='table table-secondary'>
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Dish</th>
        <th>Show Link</th>
        <th>Event Date</th>
        <th>Cook</th>
      </tr>
    </thead>
    <tbody>

        <%= render 'dishes/dish_table_rows' %>

    </tbody>
</table>
</div>

<%= link_to "New dish", new_dish_path %>
