<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <% key = "info" %>
  <% end %>
  <% if key == "alert" %>
    <% key = "danger" %>
  <% end %>
  <div class="alert alert-<%= key %> alert-dismissible fade show">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
